
<section class="footer" id="footer">
  <div class="ficons">
    <i class="footer-icon fab fa-twitter "></i>
    <i class="footer-icon fab fa-facebook-f"></i>
    <i class="footer-icon fab fa-instagram "></i>
    <i class="footer-icon fas fa-envelope "></i>
  </div>
  <p>Copyright &copy; 2020 The Family Restaurant</p>
</section>
<script type="text/javascript" src="index.js">
</script>
</body>

</html>
