<section class="heading">
  <h1><em>The Family Restaurant</em></h1>
  <p>
    Give your tongues a treat they deserve!
  </p>
  <button class="btn btn-outline-light menu"><i class="fas fa-utensils"> </i> Menu</button>
  <a class="btn btn-outline-light reserv" href="#reservation"><i class="fas fa-user-check"> </i>Reservation</a>
  <!-- <button class="btn btn-outline-light reserv"><i class="fas fa-user-check"> </i><a href="#reservation">Reservation</a> </button> -->
</section>
