
  <section class="highlights">
    <div class="row">
      <div class="feat-div col-sm-12  col-lg-4">
        <i class="fas fa-concierge-bell icons fa-4x"></i>
        <h3 class="feat-head">Premium Service</h3>
        <p class="feat-body">You'll be served faster than a flash!</p>
      </div>

      <div class="feat-div col-sm-12 col-lg-4">
        <i class="fas fa-hamburger fa-4x icons"></i>
        <h3 class="feat-head">Best Quality Food</h3>
        <p class="feat-body">Purity is our second name, be assured!</p>
      </div>

      <div class="feat-div col-sm-12  col-lg-4">
        <i class="fas fa-heart icons fa-4x"></i>
        <h3 class="feat-head">Happy Customers</h3>
        <p class="feat-body">We'll love to extend our family with you!</p>
      </div>

    </div>
  </section>
