
<li class="nav-item active">
  <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
</li>

</ul>
<ul class="navbar-nav ml-auto">
<li class="nav-item active">
  <a class="nav-link brand" href="/">The Family Restaurant</a>
</li>
</ul>
</div>

</nav>
</section>
