<div class="menu-body">
  <h1>Menu </h1>

  <div class="menu-items container-fluid" id="myBtnContainer">
    <button class="btn  btn-outline-dark tactive" onclick="filterSelection('all')"> All</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('accompaniments')">Accompaniments</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('bread')">Bread</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('chaat')">Chaat Items</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('chicken')">Chicken</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('crispy-dosa')">Crispy Dosas</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('dessert')">Dessert</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('dosa')">Dosa</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('drinks')">Drinks</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('falooda')">Falooda</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('kid-meal')">Kids Meal </button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('lassi')">Lassi & Milkshakes</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('mumbai-specials')">Mumbai Specials</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('non-Veg')">Non Vegetarian Entrées</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('noodles')">Noodles</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('rice')">Rice</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('tandoori')">Tandoori Entrees</button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('south-indian')">Traditional South Indian </button>
    <button class="btn  btn-outline-dark" onclick="filterSelection('veg')">Vegetarian Entrées</button>
  </div>
  <div class="container">

    <div class="filterDiv accompaniments">
      <div class="entry"><em>Healthy Salad </em>
        <div class="right">₹25</div>
      </div>
      <div class="entry"><em>Indian Salad </em>
        <div class="right">₹20</div>
      </div>
      <div class="entry"><em>Pickles </em>
        <div class="right">₹10</div>
      </div>
      <div class="entry"><em>Sweet Mango Chutney </em>
        <div class="right">₹10</div>
      </div>
      <div class="entry"><em>Yoghurt Cucumber Raita </em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Pappadums/Papad </em>
        <div class="right">₹25</div>
      </div>
    </div>
    <div class="filterDiv bread">
      <div class="entry"><em>Kashmiri Naan </em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Cheese & Chicken Naan </em>
        <div class="right">₹60</div>
      </div>
      <div class="entry"><em>Garlic & Spinach Naan </em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Cheese & Garlic naan </em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Garlic Naan</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em>Roti </em>
        <div class="right">₹10</div>
      </div>
      <div class="entry"><em>Plain Naan </em>
        <div class="right">₹12</div>
      </div>
    </div>
    <div class="filterDiv chaat">
      <div class="entry"><em>Chinese Bhel</em>
        <div class="right">₹30</div>
      </div>
      <div class="entry"><em>Dahi Batata Puri</em>
        <div class="right">₹25</div>
      </div>
      <div class="entry"><em>Pani Puri</em>
        <div class="right">₹20</div>
      </div>
      <div class="entry"><em>Sev Puri </em>
        <div class="right">₹20</div>
      </div>
      <div class="entry"><em>Papdi Chaat</em>
        <div class="right">₹25</div>
      </div>
      <div class="entry"><em>Samosa Chaat </em>
        <div class="right">₹20</div>
      </div>
    </div>
    <div class="filterDiv chicken">
      <div class="entry"><em>Ceylon Chicken </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Calcutta Chicken </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Chicken Chettinad </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Pepper Chicken </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Chicken Madras </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Saag Chicken </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Mango Chicken</em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Chicken Korma </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Chicken Tikka Masala </em>
        <div class="right">₹150</div>
      </div>
      <div class="entry"><em>Butter Chicken</em>
        <div class="right">₹150</div>
      </div>
    </div>
    <div class="filterDiv crispy-dosa">
      <div class="entry"><em>Ghee Roast Dosa</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Podi Roast Dosa</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Papper Roast Dosa</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Spicy Roast Dosa</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Garlic Roast Dosa</em>
        <div class="right">₹65</div>
      </div>
    </div>
    <div class="filterDiv dessert">
      <div class="entry"><em>Gulab Jamun With Ice Cream</em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Gulab Jamun</em>
        <div class="right">₹25</div>
      </div>
    </div>
    <div class="filterDiv dosa">
      <div class="entry"><em>Spinach Dosa with Vada</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Egg Pepper Dosa</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Mysore Masala Dosa with Vada</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Masala Dosa with Vada</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Masala Dosa</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Curryleaf Podi Masala Dosa</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Podi Dosa with Vada</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Mysore Sada Dosa with Vada</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Sada Dosa with Cheese</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Sada Dosa</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Set Dosa</em>
        <div class="right">₹45</div>
      </div>
    </div>
    <div class="filterDiv drinks">
      <div class="entry"><em>Masala Tea</em>
        <div class="right">₹15</div>
      </div>
      <div class="entry"><em>Masala Coffee</em>
        <div class="right">₹20</div>
      </div>
    </div>
    <div class="filterDiv falooda">
      <div class="entry"><em>Mango Falooda with Icecream</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Pista Falooda with Icecream</em>
        <div class="right">₹40</div>
      </div>
    </div>
    <div class="filterDiv kid-meal">
      <div class="entry"><em>Egg Noodles, Spring Roll & Chips</em>
        <div class="right">₹50</div>
      </div>
      <div class="entry"><em>Fish & Chips, Calamari & Spring Roll</em>
        <div class="right">₹50</div>
      </div>
    </div>
    <div class="filterDiv lassi">
      <div class="entry"><em>Vanila Milkshake</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em>Banana Milkshake</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em>Mango Milkshake</em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Strawberry Milkshake</em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em>Sweet Lassi</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em>Mango Lassi</em>
        <div class="right">₹45</div>
      </div>
    </div>
    <div class="filterDiv mumbai-specials">
      <div class="entry"><em>Chole Batura</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Paneer Pav Bhaji</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Sada Dosa</em>
        <div class="right">₹45</div>
      </div>
    </div>
    <div class="filterDiv non-Veg">
      <div class="entry"><em>Fish & Chips</em>
        <div class="right">₹130</div>
      </div>
      <div class="entry"><em>Fish 65</em>
        <div class="right">₹120</div>
      </div>
      <div class="entry"><em>Chilli Garlic Fish</em>
        <div class="right">₹135</div>
      </div>
      <div class="entry"><em>Pepper Garlic Calamari</em>
        <div class="right">₹140</div>
      </div>
      <div class="entry"><em>Chicken 65</em>
        <div class="right">₹130</div>
      </div>
      <div class="entry"><em>Prawn Pakoras</em>
        <div class="right">₹150</div>
      </div>
    </div>
    <div class="filterDiv noodles">
      <div class="entry"><em>Schzewan Noodles With Vegetables</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Tandoori Tikka Noodles</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Haka Noodles</em>
        <div class="right">₹45</div>
      </div>
    </div>
    <div class="filterDiv rice">
      <div class="entry"><em>Chicken Biryani</em>
        <div class="right">₹70</div>
      </div>
      <div class="entry"><em>Vegetable Biryani</em>
        <div class="right">₹60</div>
      </div>
      <div class="entry"><em>Jeera Rice</em>
        <div class="right">₹50</div>
      </div>
      <div class="entry"><em>Vegetable Pulav</em>
        <div class="right">₹50</div>
      </div>
      <div class="entry"><em>Curry Leaf Rice</em>
        <div class="right">₹55</div>
      </div>
      <div class="entry"><em>Lemon Rice</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Steam Rice</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em>Mint Vegetable Rice</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Coconut Rice</em>
        <div class="right">₹55</div>
      </div>
      <div class="entry"><em>Tamarind Rice</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Schezwan Vegetable Fried Rice</em>
        <div class="right">₹45</div>
      </div>
      <div class="entry"><em>Vegetable Fried Rice With Egg</em>
        <div class="right">₹65</div>
      </div>
    </div>
    <div class="filterDiv tandoori">
      <div class="entry"><em>Tandoori Chicken Wings</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Tandoori Platter</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Seekh Kebab</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Chicken Tikka</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em>Tandoori Chicken</em>
        <div class="right">₹65</div>
      </div>
    </div>
    <div class="filterDiv south-indian">
      <div class="entry"><em>Steamed Idli</em>
        <div class="right">₹30</div>
      </div>
      <div class="entry"><em>Fried Idli</em>
        <div class="right">₹30</div>
      </div>
      <div class="entry"><em>Vada</em>
        <div class="right">₹25</div>
      </div>
      <div class="entry"><em> Mysore Uttapam</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em> Capsicum Uttapam</em>
        <div class="right">₹40</div>
      </div>
    </div>
    <div class="filterDiv veg">
      <div class="entry"><em> Vegetable Samosa</em>
        <div class="right">₹20</div>
      </div>
      <div class="entry"><em> Paneer Manchurian</em>
        <div class="right">₹125</div>
      </div>
      <div class="entry"><em> Mixed Vegetable Platter</em>
        <div class="right">₹125</div>
      </div>
      <div class="entry"><em> French Fries</em>
        <div class="right">₹60</div>
      </div>
      <div class="entry"><em> Veg Manchurian Dry </em>
        <div class="right">₹135</div>
      </div>
      <div class="entry"><em> Gobi Manchurian Dry</em>
        <div class="right">₹115</div>
      </div>
      <div class="entry"><em> Chilli Paneer</em>
        <div class="right">₹115</div>
      </div>
      <div class="entry"><em> Pepper Garlic Potato</em>
        <div class="right">₹55</div>
      </div>
      <div class="entry"><em> Chilli Potato</em>
        <div class="right">₹65</div>
      </div>
      <div class="entry"><em> Veg 65</em>
        <div class="right">₹95</div>
      </div>
      <div class="entry"><em> Gobi 65</em>
        <div class="right">₹105</div>
      </div>
      <div class="entry"><em> Aloo Bonda (5 pcs)</em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em> Cauliflower Manchurian</em>
        <div class="right">₹125</div>
      </div>
      <div class="entry"><em> Vegetable Saag</em>
        <div class="right">₹105</div>
      </div>
      <div class="entry"><em> Paneer Butter Masala</em>
        <div class="right">₹120</div>
      </div>
      <div class="entry"><em> kadai Panner</em>
        <div class="right">₹125</div>
      </div>
      <div class="entry"><em> Channa Masala</em>
        <div class="right">₹110</div>
      </div>
      <div class="entry"><em> Pumkin & Eggplant Curry</em>
        <div class="right">₹100</div>
      </div>
      <div class="entry"><em> Aloo Daal</em>
        <div class="right">₹90</div>
      </div>
      <div class="entry"><em> Spinach Daal</em>
        <div class="right">₹80</div>
      </div>
      <div class="entry"><em> Daal Masala</em>
        <div class="right">₹35</div>
      </div>
      <div class="entry"><em> Palak Paneer</em>
        <div class="right">₹125</div>
      </div>
      <div class="entry"><em> Vegetable Korma</em>
        <div class="right">₹105</div>
      </div>
      <div class="entry"><em> Spring Roll</em>
        <div class="right">₹40</div>
      </div>
      <div class="entry"><em> Mixed Veg Platter</em>
        <div class="right">₹55</div>
      </div>
      <div class="entry"><em> Onion Pakoda</em>
        <div class="right">₹65</div>
      </div></div>

  </div>

</div>

</body>
<script type="text/javascript" src="menu.js">

</script>

</html>
