<section id="testimonials">
  <div id="carouselExampleControls" class="carousel slide" data-ride="false">
    <div class="carousel-inner">

      <div class="carousel-item active first">
        <h4 class="testimonial-text"> Good Food, Good Service. Best on Budget. </h4>
        <img class="testimonial-image" src="images/male1.jpg" alt="user">
        <em>Randy Ortan</em>
      </div>


      <div class="carousel-item second">
        <h4>It is just awesome. Great Food, Nice Ambience and Polite Staff.</h4>
        <img class="testimonial-image" src="images/female1.png" alt="user">
        <em>Rachel McAdems</em>
      </div>

      <div class="carousel-item third">
        <h4 class="testimonial-text"> The service was quick, and the food was really tasty. Recommended to all.</h4>
        <img class="testimonial-image" src="images/male2.jpg" alt="user">
        <em>Simon Labels</em>
      </div>

      <div class="carousel-item fourth">
        <h4 class="testimonial-text">One of the better restaurents in the city. Must try if you're a foodie.</h4>
        <img class="testimonial-image" src="images/female2.jpg" alt="user">
          <em>Sophie Alison</em>
      </div>

      <div class="carousel-item fourth">
        <h4 class="testimonial-text">One of the better restaurents in the city. Must try if you're a foodie.</h4>
      <img class="testimonial-image" src="images/male3.jpg" alt="user">
        <em>Manson Marquee</em>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>


    </a>

    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>

    </a>

  </div>
</section>
