<%-include("partials/login-header.ejs") %>


          <li class="nav-item active">
            <a class="nav-link" href="/signup"> <i class="fas fa-user-plus"></i> Signup </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login </a>
          </li>

        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link brand" href="/">The Family Restaurant</a>
          </li>
        </ul>
      </div>

    </nav>
  </section>

  <section class="signup-form container-fluid" style="max-width: 600px;">

    <form class="container-fluid" action="/updatepassword" method="POST">
      <div class="form-group">
        <label for="email"><strong>E-Mail</strong></label>
        <input type="email" name="username" placeholder="Enter the e-mail" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="name"><strong>Name</strong></label>
        <input type="text" name="name" placeholder="Enter the name associated with email" class="form-control" required>
      </div>
      <br>
          <button type="submit" name="button" class="btn btn-block btn-dark">Continue</button>
    </form>
  </section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="alert alert-danger fade show container"  style= "display:block; text-align:center;">
      <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
      <i>Please enter e-mail with the <strong>corresponding</strong> name to continue</i>
    </div>
</body>

</html>
