<%-include("partials/login-header.ejs") %>
          <li class="nav-item active">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link brand" href="/">The Family Restaurant</a>
          </li>
        </ul>
      </div>

    </nav>
  </section>

  <section class="signup-form container-fluid" style="max-width: 600px;">


    <form class="container-fluid" action="/enterpassword" method="POST">
      <div class="form-group">
        <!-- <label for="name"><strong>Name</strong></label> -->
        <input type="hidden" name="name" placeholder="Enter your full name" class="form-control" required value="<%=name %>" >
      </div>

      <div class="form-group">
        <!-- <label for="email"><strong>E-Mail</strong></label> -->
        <input  type="hidden" name="username" placeholder="Enter your e-mail" class="form-control" required  value="<%=email %>" >
      </div>

      <div class="form-group">
        <label for="password1"><strong>Password</strong></label>
        <input type="password" name="password" id="password" placeholder="Enter your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="password2"><strong>Re-enter password</strong></label>
        <input type="password" name="password2" id="password2" placeholder="Confirm your password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" required>
      </div>
      <div class="form-group">
          <span id='message'></span>
      </div>

          <button type="submit" name="button" class="btn btn-block btn-dark">Sign-Up</button>
    </form>


  </section>

<br>

</body>
<script type="text/javascript" src="index.js">

</script>
</html>
