<%-include("partials/login-header.ejs") %>
    <li class="nav-item active">
      <a class="nav-link" href="/signup">Signup <i class="fas fa-user-plus"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link brand" href="/">The Family Restaurant</a>
    </li>
  </ul>
</div>

</nav>
</section>

<section class="signup-form container-fluid" style="max-width: 600px;">
  <div class="Oauth">
    <div class="card social-block">
      <div class="card-body">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
          <i class="fab fa-facebook-f"></i>
          Continue with Facebook
        </a>
      </div>

      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Continue with Google
        </a>
      </div>
    </div>

    <p class="divider-text">
      <span class="bg-col">OR</span>
    </p>
  </div>


  <form class="container-fluid" action="/login" method="POST"  id="form1">

    <div class="form-group">
      <label for="email"><strong>E-Mail</strong></label>
      <input type="email" name="username" placeholder="Enter your e-mail" class="form-control" required id="search">
    </div>

    <div class="form-group">
      <label for="password"><strong>Password</strong></label>
      <input type="password" name="password" placeholder="Enter your password" class="form-control" required>
    </div>
    <button type="submit" name="button" class="btn btn-block btn-dark"  onclick="convert();">Login</button>
        <a href="/changepassword" style="font-size:0.75rem;color:red;float:right;">Forgot Password?</a>
        <br>
  <p class="caption">If you're visiting us for the first time, please go to <span class="link"><a href="/signup"><em><strong  >Signup</strong></em></a></span>.</p>

  </form>

  <div class="alert alert-dark alert-dismissible fade show container"  style= "display:<%= block %>; text-align:center;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> <%= message %>
    </div>
</section>


</body>
<script type="text/javascript">
  function convert() {
       var str;
       var srch=document.getElementById("search");
       str = srch.value;
       srch.value=str.toLowerCase();
   }
</script>
</html>
